@model ipl.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Played)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Played)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Won)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Won)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetRunRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetRunRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecentForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecentForm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Position">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
